* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  gap: 100px;
}
.middleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  width: 320px;
  height: 497px;
  gap: 24px;
  background-color: #ffff;
  border-radius: 20px;
  animation-name: boxrotate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes boxrotate {
  0% {
    transfrom: rotate(0deg);
  }
  25% {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}
.qrBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 288px;
  background-color: #cf6679;
  border-radius: 20px;
  position: relative;
  transition-property: transform, scale;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.qrBox:hover {
  transform: rotate(360deg);
  scale: 2;
}
.qrCode {
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1;
}

/* .ovalTop {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  border-top-left-radius: 20px;
}

.ovalBottom {
  position: absolute;
  top: 203px;
  left: 131px;
  border-bottom-right-radius: 20px;
} */
.heading {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #121212;
  text-shadow: 0px 0px 2px #121212;
}
.underHeading {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #121212;
  opacity: 0.8;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page {
  color: #cf6679;
  text-decoration: none;
  font-size: 20px;
}
.page:hover {
  font-size: 50px;
}
.page:active {
  color: #cf6679;
}
